composer.phar
/vendor/
composer.lock
*.DS_Store
Thumbs.db
*.swp
*.tmp
/node_modules/
npm-debug.log
/bower_components
/backend/runtime
/console/runtime
/frontend/runtime
/common/runtime
/frontend/web/*.txt
*.tags*
*.idea
yii
/frontend/config/main-local.php
/frontend/config/params-local.php
/backend/config/main-local.php
/backend/config/params-local.php